.profilepic {
	max-width: 100%;
}
.map {
	max-width: 100%;
}
html {
	background-color: #F6F6F6;
}
body {
	background-color: black;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.card {
  border-color: #ccc;
}

.card-title {
  color: black;
  font-weight: 600;
}
.navbar-brand {
	font-weight: 600;
}